*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display", serif;
}

header{
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0;

}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}

nav a:hover{
    background-color: #000;
    color: #fff;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox{
    margin: 15px 0;
}

.enviar{
    width: 25%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: rgb(208, 118, 50);
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer
}

.enviar :hover{
    background: rgb(219, 71, 7);
    transform: scale(1,2)

}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bolder;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: #111;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/*Hover efectos para los iconos de las redes sociales*/

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    color: white;
}